@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

#main{
  background: radial-gradient(circle at -4% -12.9%, rgb(74, 98, 110) 0.3%, rgb(30, 33, 48) 90.2%);
}

body{
  background: linear-gradient(109.6deg, rgb(36, 45, 57) 11.2%, rgb(16, 37, 60) 51.2%, rgb(0, 0, 0) 98.6%);
}
.classBg{
  background: linear-gradient(109.6deg, rgb(1, 10, 26) 11.2%, rgb(3, 17, 38) 51.2%, rgb(0, 0, 0) 98.6%);
 
}
#heading{
  font-family: "Roboto Mono";
  font-optical-sizing:inherit;
  font-weight:10px;
  text-shadow: 2px 2px 4px rgba(0, 10, 0.5,30);
}
